/*  
 * Project: Eazy Kana  
 * File: styles.css  
 * Author: Elias
 * Created: 04/03/2025 
 * Description: Main stylesheet for the website  
 * Version: 1.0  
 */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
}

